*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 50px;
    /* border: 1px solid #000; */
    
}
.container h4{
    width: 80%;
    min-height: 40px;
    /* border: 1px solid #000; */
    text-align: center;
}

.container .form{
    width: 50%;
    min-height: 200px;
    /* border: 1px solid #000; */
    margin: 20px auto;
}
.container .form-control label{
    display: block;
    font-size: small;
    font-weight: bolder;
    

}
.container .form-control input{
    width: 95%;
    min-height: 20px;
    border: none;
    border-bottom: 2px solid #999;
    outline: none;
    padding: 10px;
    margin-bottom:10px;

}
.form-control input::placeholder{
    text-align: center;
    color: #ccc;
}

.form-control input[type = "submit"]{
    width: 95%;
    min-width: 40px;
    border: none;
    color: seashell;
    background-color: sandybrown;
    text-align: center;
    cursor: pointer;
} 

.container .form-control .error-mesg{
    width: 100%;
    min-height: 10px;
    /* border: 1px solid #000; */
    text-align: center;
    color: sandybrown;
}