*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    min-height: 50px;
    /* border: 1px solid #000; */
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #999;
    
}
